*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
}
.helllo{
    display: flex;
    width: 15rem;
    align-items: center;
    margin: 2rem 0;
}
.only_one button{
    background-color: #4B6BFB;
    padding: .35rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 1rem;
}
.only_one p{
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 600;
    width: 50%;
}
.helllo p{
    font-size: smaller;
    opacity: .6;
}
.p1{
    margin-left:.5rem ;
}
.blog p {
    font-size: 19px;
    margin-top: 1.5rem;
    line-height: 1.5;
    opacity: .6;
    width: 56%;
}

.card2{
    margin-top: 7rem;
    background-color: #E8E8EA;
    padding: 1.2rem 0;
    width: 60%;
}
.blog h2{
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 600;
}
.italic{
    background-color: #E8E8EA;
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.blog p i {
    font-size: 23px;
}
.card2{
    text-align: center;
    margin-top: 2rem;
    border-radius: 10px;
}
